{#
| Variable         | Type    | Description                     |
|------------------|---------|---------------------------------|
| cart             | object  |                                 |
| cart.items_count | int     |                                 |
| cart.total       | string  | Formatted total ex: "١٠٠ ر.س"   |
#}
{% set important_links = theme.settings.get('important_links') %}
{#
| Header – Malak Style
#}

<header class="store-header bg-white">

  <div id="mainnav" class="main-nav-container sticky top-0 z-40">
    <div class="container">
     
    </div>
  </div>

</header>
